.header {
  color: #ffffff;
  text-align: center;
  font-size: 3rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header img {
  width: 5%;
  height: auto;
}

.header span {
  margin-left: 1rem;
}

@media screen and (max-width: 768px) {
  .header {
    font-size: 1.6rem;
  }
  .header img {
    width: 10%;
    height: auto;
  }
}
